<!-- Modal -->
<div class="modal fade" id="userList" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Registed Accounts</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body accountList">
                {{#each accounts as |account| }}
                <div class="row align-items-center">
                    <img class="listedIcon" src="/assets/img/{{account.user.icon}}.JPG">
                    <h5>{{account.email}}</h5>
                    {{!-- <h5>{{account.user.name}}</h5> --}}
                </div>
                {{/each}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>