<!-- Modal -->
<div class="modal fade" id="guideModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Messages from Zhou</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body guideMessage">
                <h1>Registed Users Allowed</h1>
                <h3>1: CRUD available to their own Blogs and Comments.</h3>
                <h3>2: To make comments to others' Blogs.</h3>
                <h3>3: To change user name and icon.</h3>
                <h1>Not Registed Users</h1>
                <h3>1: View Only</h3>
                <h1>Features to be add on</h1>
                <h3>1: Light and Dark mode.</h3>
                <h3>2: Thumbs up not functioning yet.</h3>
                <h3>3: Some more UI Improvements.</h3>
                <h3>4: Pages to overview status of this website.</h3>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>