<div class="modal fade custom-modal" id="userModal" tabindex="-1" role="dialog" aria-labelledby="project-modal-form" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">User Settings</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="user-form">
                <div class="modal-body">

                    <div class="form-group">
                        <label>Name:</label>
                        <input type="text" id="userName" class="form-control" required />
                    </div>

                    <div class="form-group">
                        <label>User Icon:</label>
                        <input type="text" id="iconID" class="form-control" required />
                    </div>
                    
                    <div id="previewBox">
                        <img class="previewIcon" src="/assets/img/1.JPG" alt="1" data-imgID="1">
                        <img class="previewIcon" src="/assets/img/2.JPG" alt="2" data-imgID="2">
                        <img class="previewIcon" src="/assets/img/3.JPG" alt="3" data-imgID="3">
                        <img class="previewIcon" src="/assets/img/4.JPG" alt="4" data-imgID="4">
                        <img class="previewIcon" src="/assets/img/5.JPG" alt="5" data-imgID="5">
                        <img class="previewIcon" src="/assets/img/6.JPG" alt="6" data-imgID="6">
                        <img class="previewIcon" src="/assets/img/7.JPG" alt="7" data-imgID="7">
                        <img class="previewIcon" src="/assets/img/8.JPG" alt="8" data-imgID="8">
                        <img class="previewIcon" src="/assets/img/9.JPG" alt="9" data-imgID="9">
                        <img class="previewIcon" src="/assets/img/10.JPG" alt="10" data-imgID="10">
                        <img class="previewIcon" src="/assets/img/11.JPG" alt="11" data-imgID="11">
                        <img class="previewIcon" src="/assets/img/12.JPG" alt="12" data-imgID="12">
                        <img class="previewIcon" src="/assets/img/13.JPG" alt="13" data-imgID="13">
                        <img class="previewIcon" src="/assets/img/14.JPG" alt="14" data-imgID="14">
                        <img class="previewIcon" src="/assets/img/15.JPG" alt="15" data-imgID="15">
                        <img class="previewIcon" src="/assets/img/16.JPG" alt="16" data-imgID="16">
                        <img class="previewIcon" src="/assets/img/17.JPG" alt="17" data-imgID="17">
                        <img class="previewIcon" src="/assets/img/18.JPG" alt="18" data-imgID="18">
                        <img class="previewIcon" src="/assets/img/19.JPG" alt="19" data-imgID="19">
                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-light">Update</button>
                    </div>

                </div>
            </form>
        </div>     
    </div>
</div>
