<header id="header">
  <div class="nav-1">
    <button id="burgerBtn"><i class="fas fa-bars"></i></button>
      <span id="logo"><span id="logo-sub">WebDev</span>BBS</span>
    <button id="searchBtn"><i class="fas fa-search"></i></button>
  </div>
  <div class="nav-2">
    <button id="signUpBtn" data-toggle="modal" data-target="#homeModal"><i class="fas fa-user-plus"></i>SignUp</button>
    <button id="loginBtn" data-toggle="modal" data-target="#homeModal"><i class="fas fa-sign-in-alt"></i>Login</button>
  </div>
</header>

<section class="container-cards">
  <div id="cardList-header">
    <span>Current user blogs:</span>
    <button id="filterBtn"><i class="fas fa-filter"></i></button>
  </div>

  {{#each blogs as |blog| }}
  <a class="card">
    <h3>{{blog.title}}</h3>
    <h5>Posted by: <span>{{blog.user.name}}</span></h5>
    <h5>On: <span>{{blog.pub_date}}</span></h5>
    <h5>
      <span><i class="fas fa-thumbs-up"></i><span>10</span></span>
      <span><i class="fas fa-comment-dots"></i><span>10</span></span>
    </h5>
  </a>
  {{/each}}

  {{!-- <a class="card">
    <h3>Why MVC is so important?</h3>
    <h5>Posted by: <span>Zhou Tian</span></h5>
    <h5>On: <span>12/06/2021</span></h5>
    <h5>
      <span><i class="fas fa-thumbs-up"></i><span>10</span></span>
      <span><i class="fas fa-comment-dots"></i><span>10</span></span>
    </h5>
  </a>
            
  <a class="card">
    <h3>Wanna make a popular music app?</h3>
    <h5>Posted by: <span>Frank Fan</span></h5>
    <h5>On: <span>12/06/2021</span></h5>
    <h5>
      <span><i class="fas fa-thumbs-up"></i><span>10</span></span>
      <span><i class="fas fa-comment-dots"></i><span>10</span></span>
    </h5>
  </a> --}}

</section>

{{> accountModal}}


{{!-- <script src="/assets/scripts/login.js"></script> --}}
<script src="/assets/scripts/home.js"></script>
{{#if logged_in}}
  <script src="/assets/scripts/logout.js"></script>
{{/if}}